<div class="logo-container"><h1> Employee Management System </h1>
  <!-- By "MB systems" -->
  <img src="../assets/img/logo2-removebg-preview.png" alt="logo">
</div>
<div class="toolbar">
  <div class="actions">
    <div class="example-button-row" id="buttons">
      <button mat-raised-button (click)="addEmployee()">add new employee</button>
    </div>
  </div>
  <div class="actions">
    <div class="example-button-row" id="buttons">
      <button mat-raised-button color="primary" (click)="exportToExcel()">
        <mat-icon>download</mat-icon> Export to Excel</button>
    </div>
  </div>
</div>